[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fake-useragent = "*"
jmespath = "*"
python-decouple = "*"
requests = "*"
sessionlib = "*"
tenacity = "*"


[dev-packages]

ipython = "*"
ipdb = "*"
pytest = "*"
pytest-env = "*"
betamax = "*"
betamax-serializers = "*"


[requires]

python_version = "3.6"
