[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
sessionlib = "*"
python-decouple = "*"
fake-useragent = "*"
jmespath = "*"


[dev-packages]

ipdb = "*"
ipython = "*"


[requires]

python_version = "3.6"
