[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fake-useragent = "*"
jmespath = "*"
python-decouple = "*"
requests = "*"
sessionlib = "*"
tenacity = "*"
betamax = "*"
betamax-serializers = "*"


[dev-packages]

ipdb = "*"
ipython = "*"
pytest = "*"
pytest-env = "*"


[requires]

python_version = "3.6"
