{
  "http_interactions": [
    {
      "recorded_at": "2018-04-03T03:29:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "Az46LMHazG78T1CnCtxU9zu9PLiVe6Ys"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/likes/1731620484402197025/like/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/likes/1731620484402197025/like/"
      }
    },
    {
      "recorded_at": "2018-04-03T03:29:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "Az46LMHazG78T1CnCtxU9zu9PLiVe6Ys"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/likes/1731620484402197025/unlike/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/likes/1731620484402197025/unlike/"
      }
    },
[...]
    {
      "recorded_at": "2018-04-04T03:23:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "8zFay6gEInqULZw9EaE2ApFjIoJNs8hI"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/likes/1749695699648003829/unlike/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/likes/1749695699648003829/unlike/"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
