{
  "http_interactions": [
    {
      "recorded_at": "2018-04-03T02:37:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "U0iSajK79ZKulqs3NWzjEt6zTf8yLRQt"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/friendships/25025320/follow/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"result\": \"following\", \"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/friendships/25025320/follow/"
      }
    },
    {
      "recorded_at": "2018-04-03T02:37:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "U0iSajK79ZKulqs3NWzjEt6zTf8yLRQt"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/friendships/25025320/unfollow/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/friendships/25025320/unfollow/"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
