{
  "http_interactions": [
    {
      "recorded_at": "2018-04-26T19:57:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "MnBsm37FeuwKWIuiluV69eKkEGAhgHiU"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/likes/1766229289920325959/like/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/likes/1766229289920325959/like/"
      }
    },
    {
      "recorded_at": "2018-04-26T19:57:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "MnBsm37FeuwKWIuiluV69eKkEGAhgHiU"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/likes/1766229289920325959/unlike/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/likes/1766229289920325959/unlike/"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}