{
  "http_interactions": [
    {
      "recorded_at": "2018-06-02T04:16:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "WvKPHXkIxbGM8Dwq5TFYQrX4AwPEhSKK"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/save/1792469968929329007/save/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/save/1792469968929329007/save/"
      }
    },
    {
      "recorded_at": "2018-06-02T04:16:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "WvKPHXkIxbGM8Dwq5TFYQrX4AwPEhSKK"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/save/1792469968929329007/unsave/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/save/1792469968929329007/unsave/"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}