{
  "http_interactions": [
    {
      "recorded_at": "2018-05-09T20:56:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "bX9NBUPhfqKdIuG3h6GNNYPLFLGJcGzc"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/friendships/2301003648/follow/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"result\": \"following\", \"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/friendships/2301003648/follow/"
      }
    },
    {
      "recorded_at": "2018-05-09T20:56:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-CSRFToken": [
            "bX9NBUPhfqKdIuG3h6GNNYPLFLGJcGzc"
          ],
          "X-Instagram-AJAX": [
            "1"
          ],
          "X-Requested-With": [
            "XMLHttpRequest"
          ]
        },
        "method": "POST",
        "uri": "https://www.instagram.com/web/friendships/2301003648/unfollow/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": \"ok\"}"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.instagram.com/web/friendships/2301003648/unfollow/"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}